<div class="m-2" id="tech-skills" style="background-color: #5089A5; color: white;">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-6">
                favourite technology
                <h3>Techskills</h3>
            </div>
        </div>
        <div class="row p-4">
            <div *ngFor="let tech of techList" class="col-sm-3">
                <div class="row pt-2 pb-4 pr-4">
                    <div class="card" (click)="openLink(tech.link)">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <div class="card-body text-center">
                                    <img *ngIf="tech?.imageLink" class="card-img rounded mx-auto" src="{{ tech?.imageLink }}">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width.%]=[tech.skillLevel]></div>
                            </div>
                        </div>
                        <div class="overlay pt-4 mt-5">
                            <h4 class="text">{{tech.name}}</h4>
                            <p class="text">expertice: {{tech.skillLevel}}%</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
