<div id="about-me bg-light">
    <div class="container p-4 mt-4">
        <div class="row p-4">
            <div class="col-sm text-center">
                Build with Angular
            </div>
            <div class="col-sm text-center">
                <a href="https://github.com/IsabellaCaspari"><img src="/assets/img/github_logo.png" style="width: 10%;"></a>
            </div>
            <div class="col-sm text-center">
                © Copyright 2024, Isabella Caspari
            </div>
        </div>
    </div>
</div>
