<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">
        <img width="30" height="30" src="/assets/img/origami_icon.png" class="d-inline-block align-top pr-1" alt=""> Isabella Caspari
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/#about-me">about me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#tech-skills">tech skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#curriculum-vitae">curriculum vitae</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#portfolio">portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/contact">contact</a>
            </li>
        </ul>
    </div>
</nav>
