<div class="m-2" id="curriculum-vitae" style="background-color:#999999; color: white;">
    <div class="container pt-4">
        <div class="panel panel-primary">
            <div class="panel-heading">experienced so far</div>
        </div>

        <div class="row">
            <div class="col-md-6 ">
                <h2>Education</h2>
                <ul class="timeline">
                    <li class="pb-2" *ngFor="let period of eduTimePeriod">
                        <b>{{period.endDate | date:'MMMM y' }} - {{period.startDate | date:'MMMM y' }}</b><br> {{period.title}}
                        <br>{{period.description}}
                    </li>
                </ul>
            </div>

            <div class="col-md-6 ">
                <h2>Profession</h2>
                <ul class="timeline">
                    <li class="pb-2" *ngFor="let period of profTimePeriod">
                        <strong>{{period.endDate | date:'MMMM y' }} - {{period.startDate | date:'MMMM y' }}</strong><br> {{period.title}}
                        <br>{{period.description}}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
