<div class="m-2" id="curriculum-vitae" style="background-color:#999999; color: white;">
    <div class="container pt-4">

        <div class="row">
            <div class="col-md-6 ">
                <div class="panel panel-primary">
                    <div class="col-md-6 pb-2">
                        feel free to
                        <h3>Contact me</h3>
                    </div>
                    <ul class="timeline">
                        <li class="pb-2" *ngFor="let period of eduTimePeriod">
                            <b>{{period.endDate | date:' y' }}</b><br> {{period.title}}
                            <br>{{period.description}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 pb-2">
                <div class="panel panel-primary">
                    <div class="col-md-6 pb-2">
                        experienced so far
                        <h2>Profession</h2>
                    </div>
                    <ul class="timeline">
                        <li class="pb-2" *ngFor="let period of profTimePeriod">
                            <strong>{{period.endDate | date:' y' }}</strong><br> {{period.title}}
                            <br>{{period.description}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
