<div class="m-2" id="about-me" style="background-color:#FBA481; color: white;">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-12 ">
                some words
                <h3>About me</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">I have completed my studies since 2018. Since then I have been working as a developer with a focus on front-end and app development. Currently I am working as an frontend for adorsys.gmbh. I have fun developing and designing beautiful things. I am super curious, interested in new technologies and super creativ
                and in my spare time I love to do graphic design, outdoorsports and as avoluntary I'm organizing a christian youth group. Write me if you have any questions or feedback. I'm looking forward to hearing from you!</div>
        </div>
    </div>
</div>
